.tangerine-bold {
    font-family: "Tangerine", "sans-serif";
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-family: "Sriracha", "sans-serif";
    font-weight: 400;
    font-style: normal;
}

.book-button {
    font-family: "Sriracha", "sans-serif";
    font-weight: 400;
    font-style: normal;
}

.nav-link {
    font-family: "Sriracha", "sans-serif";
    font-weight: 400;
    font-style: normal;
}